
body {
    background-color: blue;
}

.header {
width: 95%;
height: 200px;
text-align: center;
font-size: 36pt;
background-color: gray;
margin: auto;
margin-top: 100px;
margin-bottom: 20px;
border-radius: 25px;
}

.mainClass{
border-radius: 25px;
font-size: 20pt;
text-color: white;
background-color: gray;
padding: 40px;
margin-top: 20px;
margin-bottom: 20px;
}
